<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:include="layout/header" />
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
       Invalid Username / Password
    </div>
    <form method="post" th:action="@{/login}">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
         <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" th:onclick="|window.location.href='/register'|" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
</body>
</html>